:root {
  --bg-white: #FAFAFA;
  --black: #23201F;
  --opacity-black: rgba(35, 32, 31, 0.1);
  --orange: #FA5B3D;
  --blue: #1C5F87;
  --bg-table: #CFE1EB;
}

body {
  padding: 0;
  margin: 0;
  min-width: 1366px;
  font-family: "PT Root UI", "Arial", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  background-color: var(--bg-white);
  color: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: 970px;
  margin: 0 auto;
  border-left: 1px solid var(--opacity-black);
  border-right: 1px solid var(--opacity-black);
}

.page-header__top-row {
  width: 1188px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.page-header__logo {
  padding: 8px 0 0 9px;
}

.indicators__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.indicator__name {
  margin-right: 12px;
}

.indicator__item {
  margin-left: 32px;
}

.indicator__link {
  font-family: "PT Root UI", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: var(--black);
  text-decoration: none;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  height: 50px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid var(--opacity-black);
  border-bottom: 1px solid var(--opacity-black);
}

.nav__link {
  color: var(--black);
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.nav__item:last-child {
 opacity: 0.4;
}

.nav__link:hover,
.nav__link:focus {
  filter: opacity(0.8);
}

.nav__link:active {
  filter: opacity(0.5);
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  filter: opacity(0.5);
}

.breadcrumbs__link[href] {
  color: var(--orange);
  filter: opacity(1);
}

.breadcrumbs__link[href]::after {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
  color: var(--black);
  font-weight: bold;
}

.breadcrumbs__wrapper {
  margin: 44px 0 25px 0;
}

.page-article__subtitle {
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
  max-width: 675px;
}

.page-article__meta {
  display: flex;
  justify-content: space-between;
}

.meta-author {
  margin-top: 20px;
  display: flex;
}

.meta-img img {
  border-radius: 50%;
  margin-right: 20px;
}

.meta__row {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.author__text {
  margin: 0;
}

.meta__date {
  filter: opacity(0.6);
}

.meta-social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.meta-social__item {
  margin-left: 15px;
  width: 36px;
  height: 36px;
  border: 1px solid var(--opacity-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta-social__icon {
  fill: #23201F;
}

.meta-social__icon:hover,
.meta-social__icon:focus {
  fill: var(--orange);

}
